* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: x-large;
  font-style: inherit;
  background-color: aqua;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(41, 41, 73);
  padding: 1rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  color: rgb(212, 224, 223);
  text-decoration: none;
  text-transform: lowercase;
  font-size: large;
}
